#!/usr/bin/env bash

docker run -p ${NEXUS_UI_HTTP_PORT}:${NEXUS_UI_HTTP_PORT} -p ${NEXUS_UI_HTTPS_PORT}:${NEXUS_UI_HTTPS_PORT} -p ${NEXUS_DOCKER_REGISTRY_PORT}:${NEXUS_DOCKER_REGISTRY_PORT} -p ${NEXUS_DOCKER_GROUP_PORT}:${NEXUS_DOCKER_GROUP_PORT} -v ${HOST_VOLUMES_ROOT_FOLDER}/${IMAGE}/conf:/backup/nexus/conf -v ${HOST_VOLUMES_ROOT_FOLDER}/${IMAGE}/blobs:/backup/nexus/blobs -v ${HOST_VOLUMES_ROOT_FOLDER}/${IMAGE}/db:/backup/nexus/db --name ${IMAGE} ${NAMESPACE}/${IMAGE}:${TAG}
