This image runs PostgreSQL as a Docker container.

Examples:
- Run PostgreSQL with default settings:
# docker run -d --name db -p 5432:5432 ${NAMESPACE}/${IMAGE}:${TAG}

- Run PostgreSQL with default settings, redirecting logs
to an external service.
# docker run -d --[loghost]:logger --name db -p 5432:5432 ${NAMESPACE}/${IMAGE}:${TAG}
