.#*
*~
*#
abc/*
android-studio/my_exec
android-studio/studio.vmoptions
artifactory/entrypoint.sh
backup/
**/backup-files
base/10_append_backup_to_etc_hosts.inc.sh
base/20_create_rsnapshot_conf.inc.sh
base/21_tune_rsync_conf.sh
base/40_create_ssl_certificate_openssl.inc.sh
base/create_ssl_certificate.inc.sh
base/create-ssl-certificate.inc.sh
base/create-ssl-certificate-openssl.inc.sh
base/dry-wit
base/exim.00_local_macros
base/help-files
base/logger
base/monit-mail.conf.template
base/remote-rsyslogd.conf
base/restart
*/.build*
build*
.build.inc.sh*
.build-settings.sh
*/.build-settings.sh
.build.sh.*
**/check-version-files
*/common-files
*/copyright-preamble.*
copyright-preamble.*
*/copyright-preamble.acmsl.txt
*/create_ssl_certificate-files/*
**/create_ssl_certificate-files/create_ssl_certificate.inc.sh
**/cron-files
Dockerfile
*/Dockerfile
docs/set-square_overview.*
elasticsearch/elasticsearch-files
elasticsearch/service
*/exim-files/*
*/exit-files/exim.00_local_macros
filebeat-docker/conf.d/*.yml
filebeat-docker/filebeat.yml
*/filebeat-files
firefox-sync/rc.local
firefox-sync/service
firefox-sync/setup.sql
firefox-sync/syncserver.ini
flywaydb/my_exec
getboo/000-default.conf
getboo/config.inc.php
getboo/dml.sql
getboo/rc.local
getboo/setup.sql
ghost/config.js
.gradle
gradle-daemon/service
gradle/gradle-files
gradle/my_exec
gradle-pharo/service
gradle/service
grails/my_exec
grails/service
grails/setup.sql
graphite/local_settings.py
*/help
**/install-files
java/41_create_ssl_certificate_keytool.inc.sh
*/java-files
java/my_exec
java/remote-syslogd.conf
java-service/start.sh
jenkins/50-rsync-jenkins-home.sh
jenkins/config.xml
jenkins/gradle-files
jenkins/hudson.tasks.Mailer.xml
jenkins/jenkins-files
jenkins/jenkins.plugins.slack.SlackNotifier.xml
jenkins/phabricator-files
jenkins/prepare-release.sh
jenkins/settings.xml
kibana/service
*/LICENSE.*
**/LICENSE
LICENSE.*
**/locale-files
*.log
*/logstash-files
logstash/service
mariadb/admin.sh
mariadb/backup.sh
mariadb/bootstrap-db
mariadb-bootstrap/my_exec
mariadb/conf.d/*
mariadb/my.cnf
mariadb/process-sqls
mariadb/process-sqls.sh
mariadb/rc.local
mariadb/service
mariadb/setup.sql
mariadb/shutdown.sh
mariadb/upgrade.sh
mariadb/watch-ddls
mongodb/create_bootstrap_cron_job.sh
mongodb/service
**/monit-files
mysql/admin.sh
mysql/backup-mysql.sh
nexus/50_update_nexus_ssl_config.inc.sh
nexus/default
nexus/INSTALL
nexus/INSTALL.tmpl
nexus/java-files
nodejs/my_exec
observium/setup.sql
padlock/apache-files
phabricator/apache-files
phabricator/apache-vhost.conf
phabricator/bootstrap
phabricator/INSTALL
phabricator/service
phppgadmin/apache-vhost.conf
plone3/default.cfg
plone3/service
plone5/default.cfg
plone5/service
postgresql/backup.sh
postgresql/bootstrap-db
postgresql/bootstrap-db.sh
postgresql-bootstrap/my_exec
postgresql/process-sql.inc.sh
postgresql/process-sqls.sh
postgresql/service
postgresql/setup.sh
postgresql/setup.sql
rabbitmq/create_bootstrap_cron_job.sh
rabbitmq/rc.local
rabbitmq/service
rabbitmq/skel.inc.sh
rabbitmq/skel.sh
*/README
**/rsnapshot-files
*/rsyslog-files
.rt-client.sh-push.lock
.rt-projects
sdkman/setup.sql
**/ssh-files
*/syslog-files
.templates/addon-toggles
.templates/android-sdk
.templates/apache
.templates/apr
.templates/backup
.templates/copy-metadata
.templates/elasticsearch
.templates/elk-common
.templates/exim-files/exim.00_local_macros
.templates/filebeat
.templates/gosu
.templates/gradle
.templates/install
.templates/instructions
.templates/java
.templates/jenkins
.templates/kibana
.templates/locale
.templates/logstash
.templates/maintainer
.templates/mongodb
.templates/nodejs
.templates/phabricator
.templates/plone5
.templates/preamble
.templates/rabbitmq
.templates/sdkman
.templates/service_user
.templates/tini
.templates/tomcat
tern/my_exec
tomcat/entrypoint.sh
*/tomcat-files
tt-rss/apache-vhost.conf
tt-rss/config.php
tt-rss/create-db.inc.sh
tt-rss/create-ttrss-database.sql
tt-rss/create-ttrss-user.sql
tt-rss/setup.sql
*/volumes-files/*
