.#*
*~
*#
abc/*
android-studio/my_exec
artifactory/entrypoint.sh
backup/
base/10_append_backup_to_etc_hosts.inc.sh
base/20_create_rsnapshot_conf.inc.sh
base/21_tune_rsync_conf.sh
base/40_create_ssl_certificate_openssl.inc.sh
base/create-ssl-certificate.inc.sh
base/create-ssl-certificate-openssl.inc.sh
base/exim.00_local_macros
base/logger
base/monit-mail.conf.template
base/remote-rsyslogd.conf
*/.build*
build*
.build.inc.sh*
.build-settings.sh
*/.build-settings.sh
.build.sh.*
*/copyright-preamble.*
copyright-preamble.*
*/copyright-preamble.acmsl.txt
Dockerfile
*/Dockerfile
docs/set-square_overview.*
firefox-sync/rc.local
firefox-sync/rc.local
firefox-sync/service
firefox-sync/setup.sql
firefox-sync/syncserver.ini
flywaydb/my_exec
getboo/000-default.conf
getboo/config.inc.php
getboo/dml.sql
getboo/rc.local
getboo/setup.sql
ghost/config.js
.gradle
gradle-daemon/service
gradle/my_exec
gradle-pharo/service
gradle/service
grails/my_exec
grails/service
grails/setup.sql
graphite/local_settings.py
*/help
java/41_create_ssl_certificate_keytool.inc.sh
java/my_exec
java/my_exec
java/remote-syslogd.conf
jenkins/50-rsync-jenkins-home.sh
jenkins/hudson.tasks.Mailer.xml
jenkins/jenkins.plugins.slack.SlackNotifier.xml
jenkins/prepare-release.sh
jenkins/settings.xml
*/LICENSE.*
**/LICENSE
LICENSE.*
*.log
mariadb/admin.sh
mariadb/backup.sh
mariadb/backup.sh
mariadb/bootstrap-db
mariadb-bootstrap/my_exec
mariadb/conf.d/*
mariadb/my.cnf
mariadb/process-sqls
mariadb/process-sqls.sh
mariadb/rc.local
mariadb/service
mariadb/setup.sql
mariadb/shutdown.sh
mariadb/upgrade.sh
mariadb/watch-ddls
nexus/50_update_nexus_ssl_config.inc.sh
nexus/default
nexus/INSTALL
nexus/INSTALL.tmpl
nodejs/my_exec
observium/setup.sql
phabricator/apache-vhost.conf
phabricator/bootstrap
phabricator/INSTALL
phabricator/service
phppgadmin/apache-vhost.conf
plone3/default.cfg
plone3/service
plone5/default.cfg
plone5/service
postgresql/backup.sh
postgresql/bootstrap-db
postgresql/bootstrap-db.sh
postgresql-bootstrap/my_exec
postgresql/process-sql.inc.sh
postgresql/process-sqls.sh
postgresql/service
postgresql/setup.sh
postgresql/setup.sql
rabbitmq/rc.local
rabbitmq/service
*/README
.rt-client.sh-push.lock
.rt-projects
sdkman/setup.sql
.templates/addon-toggles
.templates/copy-metadata
.templates/instructions
.templates/maintainer
.templates/preamble
.templates/preamble
tern/my_exec
tomcat/entrypoint.sh
tt-rss/apache-vhost.conf
tt-rss/config.php
tt-rss/create-db.inc.sh
tt-rss/create-ttrss-database.sql
tt-rss/create-ttrss-user.sql
tt-rss/setup.sql
