CREATE DATABASE ${OBSERVIUM_DB_NAME} DEFAULT CHARACTER SET utf8 COLLATE utf8_general_ci;
GRANT ALL PRIVILEGES ON ${OBSERVIUM_DB_NAME}.* TO '${OBSERVIUM_DB_NAME}'@'%' IDENTIFIED BY '${OBSERVIUM_DB_PASSWORD}';
