#!/bin/bash

mkdir -p /etc/prometheus

rsync -avz /backup/${IMAGE}/conf/ /etc/prometheus/
rsync -avz /etc/prometheus/ /backup/${IMAGE}/conf/

/usr/local/bin/run-as.sh -U ${SERVICE_USER} -G ${SERVICE_GROUP} -- /etc/prometheus /opt/prometheus/bin/prometheus -config.file=/etc/prometheus/prometheus.yml -storage.local.path=/backup/prometheus/db -web.console.libraries=/etc/prometheus/console_libraries -web.console.templates=/etc/prometheus/consoles
