#!/bin/bash

# Splitting executable from arguments
_cmd="${1}";
shift
_cmd="${_cmd} ${@}";

_folder="/opt/workspace";

_projectFolder="${_folder}"

if [ -n ${PROJECT_NAME} ]; then
  _projectFolder="${_folder}/${PROJECT_NAME}"
fi

mkdir -p "${_projectFolder}";

if [ -n "${GRAILS_ENV}" ]; then
    _grailsEnv="-Dgrails.env=${GRAILS_ENV}";
else
  _grailsEnv="";
fi

/usr/local/bin/run-as.sh -- ${_projectFolder} grails ${_grailsEnv} ${_cmd};
# vim: syntax=sh ts=4 sw=4 sts=4 sr noet
