#!/usr/bin/env sh

if [ -n "${MAVEN_MASTER_PASSWORD}" ]; then
    MAVEN_MASTER_PASSWORD="${SQ_MAVEN_MASTER_PASSWORD}"
fi

if [ -n "${MAVEN_MASTER_PASSWORD}" ]; then
    "${SERVICE_USER_HOME}"/encrypt-maven-master-password.sh "${MAVEN_MASTER_PASSWORD}"
fi
