<?xml version='1.1' encoding='UTF-8'?>
<hudson.plugins.git.GitSCM_-DescriptorImpl plugin="git@4.1.1">
  <globalConfigName>${GIT_USER_NAME}</globalConfigName>
  <globalConfigEmail>${GIT_USER_EMAIL}</globalConfigEmail>
  <createAccountBasedOnEmail>${GIT_CREATE_ACCOUNT_BASED_ON_EMAIL}</createAccountBasedOnEmail>
  <useExistingAccountWithSameEmail>${GIT_USE_EXISTING_ACCOUNT_WITH_SAME_EMAIL}</useExistingAccountWithSameEmail>
  <showEntireCommitSummaryInChanges>${GIT_SHOW_ENTIRE_COMMIT_SUMMARY_IN_CHANGES}</showEntireCommitSummaryInChanges>
</hudson.plugins.git.GitSCM_-DescriptorImpl>