<?xml version='1.0' encoding='UTF-8'?>
<jenkins.model.JenkinsLocationConfiguration>
  <adminAddress>${VIRTUAL_HOST}@${SQ_DOMAIN}</adminAddress>
  <jenkinsUrl>http://${VIRTUAL_HOST}</jenkinsUrl>
</jenkins.model.JenkinsLocationConfiguration>
