CREATE USER ${TTRSS_DB_USER} IDENTIFIED BY '${TTRSS_DB_PASSWORD}';
GRANT ALL PRIVILEGES ON ${TTRSS_DB_NAME}.* TO '${TTRSS_DB_USER}'@'localhost' IDENTIFIED BY '${TTRSS_DB_PASSWORD}' WITH GRANT OPTION;
GRANT ALL PRIVILEGES ON ${TTRSS_DB_NAME}.* TO '${TTRSS_DB_USER}'@'__LAN__' IDENTIFIED BY '${TTRSS_DB_PASSWORD}' WITH GRANT OPTION;
FLUSH PRIVILEGES;
