############################# Logging #########################################

# There are three options for the log ouput: syslog, file, stderr.
# Under Windos systems, the log files are per default sent to the file output,
# under all other system per default to syslog.
logging:
  stderr: true
#  files:

#    rotateeverybytes: 10485760 # = 10MB
