#!/bin/bash

chown -R ${SERVICE_USER}:${SERVICE_GROUP} /data /backup

_exports="$(export)";

cat << EOF > /tmp/runme
#!/bin/bash

${_exports}
declare -x HOME="/home/${SERVICE_USER}"
export PATH=/usr/sbin:${PATH}
ulimit -n ${RABBITMQ_ULIMIT_N}
rabbitmq-server \$@
EOF
chmod +x /tmp/runme

chpst -u ${SERVICE_USER}:${SERVICE_GROUP} -U ${SERVICE_USER}:${SERVICE_GROUP} /tmp/runme
# vim: syntax=sh ts=4 sw=4 sts=4 sr noet

