This image prepares a simple development environment with sdkman ready to use.

Examples:
- Run sdkman to a development folder:
> docker run -it -v [my-development-project-folder]:/home/${NAMESPACE} -p [app-port]:[app-port] ${NAMESPACE}/${IMAGE}:${TAG}
