# Default values, can be overriden with -e ENABLE_[CRON|MONIT|RSNAPSHOT|SSH|SYSLOG|LOGSTASH|LOCAL_SMTP]=[true|false]
# when launching the container
ENV ENABLE_CRON=${ENABLE_CRON} \
    ENABLE_MONIT=${ENABLE_MONIT} \
    ENABLE_RSNAPSHOT=${ENABLE_RSNAPSHOT} \
    ENABLE_SSH=${ENABLE_SSH} \
    ENABLE_SYSLOG=${ENABLE_SYSLOG} \
    ENABLE_LOCAL_SMTP=${ENABLE_LOCAL_SMTP} \
    ENABLE_LOGSTASH=${ENABLE_LOGSTASH}

