# v copy-metadata
COPY README /
COPY copyright-preamble.txt /copyright.txt
COPY LICENSE /LICENSE
COPY Dockerfile /Dockerfiles/Dockerfile
COPY Dockerfile /Dockerfiles/${NAMESPACE}-${IMAGE}.${TAG}
# ^ copy-metadata
