COPY README /README
COPY ${LICENSE_FILE} /LICENSE
COPY ${COPYRIGHT_PREAMBLE_FILE} /Dockerfiles/copyright-preamble.txt
COPY Dockerfile /Dockerfiles/Dockerfile
COPY Dockerfile /Dockerfiles/${NAMESPACE}-${IMAGE}.${TAG}
