# copy-metadata template

COPY README LICENSE /
COPY Dockerfile /Dockerfiles/${NAMESPACE}-${IMAGE}.${TAG}
COPY ${COPYRIGHT_PREAMBLE_FILE} /Dockerfiles/copyright-preamble.txt

# End of copy-metadata template

