# v crash
RUN su - ${SERVICE_USER} -c 'cd ${SERVICE_USER_HOME} && source ${SERVICE_USER_HOME}/.sdkman/bin/sdkman-init.sh && sdk selfupdate force && sdk install crash ${CRASH_VERSION}  && if [ -n \"${CRASH_VERSIONS}\" ]; then for p in ${CRASH_VERSIONS}; do yes no | sdk i crash \${p}; done; fi'
# ^ crash
