# v discord
RUN ${SYSTEM_UPDATE} && \
    ${PKG_INSTALL} libasound2 libgconf-2-4 libnotify4 libnss3 libxss1 libxtst6 libappindicator1 && \
    apt-get install -f && \
    cd /opt && \
    wget -O- ${DISCORD_DOWNLOAD_URL} && \
    dpkg -i ${DISCORD_ARTIFACT} && \
    ${SYSTEM_CLEANUP}
# ^ discord