# v elk-common
 RUN wget -qO - https://artifacts.elastic.co/GPG-KEY-elasticsearch | sudo apt-key add - && \
     echo 'deb https://artifacts.elastic.co/packages/${ELK_MAJOR_VERSION}.x/apt stable main' > /etc/apt/sources.list.d/elk.list && \
     ${APTGET_INSTALL} -u apt-transport-https ca-certificates wget && \
     ${APTGET_CLEANUP}
# ^ elk-common
#     apt-key adv --keyserver ha.pool.sks-keyservers.net --recv-keys 46095ACC8548582C1A2699A9D27D666CD88E42B4 && \
