ENV ENABLE_CRON ${ENABLE_CRON}
ENV ENABLE_MONIT ${ENABLE_MONIT}
ENV ENABLE_RSNAPSHOT ${ENABLE_RSNAPSHOT}
ENV ENABLE_SSH ${ENABLE_SSH}
ENV ENABLE_SYSLOG ${ENABLE_SYSLOG}
ENV ENABLE_LOGSTASH ${ENABLE_LOGSTASH}
