# footer template

COPY README /README
COPY ${LICENSE_FILE} /LICENSE
COPY ${COPYRIGHT_PREAMBLE_FILE} /copyright.txt
COPY Dockerfile /Dockerfiles/Dockerfile
COPY Dockerfile /Dockerfiles/${NAMESPACE}-${IMAGE}.${TAG}

# For instructions on how to use this image, please run
# docker run -it ${NAMESPACE}/${IMAGE}:${TAG} help

# End of footer template

