# v go
ENV GO_VERSION=${GO_VERSION} \
    GOROOT=/opt/go \
    PATH=${PATH}:/opt/go/bin

RUN wget -O /tmp/go.tar.gz https://storage.googleapis.com/golang/go${GO_VERSION}.linux-$(dpkg --print-architecture).tar.gz && \
    tar xvfz /tmp/go.tar.gz -C /opt && \
    rm -f /tmp/go.tar.gz && \
    ln -sf /opt/go/bin/go /usr/local/bin/go
# ^ go