# v go
ENV GO_VERSION=${GO_VERSION}

RUN wget -O /usr/local/bin/go https://storage.googleapis.com/golang/go${GO_VERSION}.linux-$(dpkg --print-architecture).tar.gz" && \
     chmod +x /usr/local/bin/go
# ^ go