# v gradle
COPY gradle-files/gradle.sh /usr/local/bin/sq-gradle-wrapper.sh
RUN su - ${SERVICE_USER} -c 'cd ${SERVICE_USER_HOME} && source ${SERVICE_USER_HOME}/.sdkman/bin/sdkman-init.sh && sdk selfupdate force && sdk install gradle ${GRADLE_VERSION}  && if [ -n \"${GRADLE_VERSIONS}\" ]; then for p in ${GRADLE_VERSIONS}; do yes no | sdk i gradle \${p}; done; fi' && \
    chmod +x /usr/local/bin/sq-gradle-wrapper.sh
# ^ gradle
