# groovy:
#   - requires:
#     - sdkman
RUN su - ${SERVICE_USER} -c "source ${SERVICE_USER_HOME}/.sdkman/bin/sdkman-init.sh && sdk i groovy ${GROOVY_VERSION} && if [ -n \"${GROOVY_VERSIONS}\" ]; then for p in ${GROOVY_VERSIONS}; do yes no | sdk i groovy \${p}; done; fi"
# end of groovy template