# v jce
RUN  wget -q -nv --no-check-certificate --no-cookies --header "Cookie: ${JCE_POLICY_EULA_COOKIE}" ${JCE_POLICY_DOWNLOAD_URL} -O /opt/${JCE_POLICY_ARTIFACT} && \
    cd /opt && jar xvf ${JCE_POLICY_ARTIFACT} && cp ${JCE_POLICY_FOLDER}/*.jar /usr/lib/jvm/java-${JAVA_VERSION}-oracle/jre/lib/security/ && \
    rm -rf /opt/${JCE_POLICY_FOLDER} /opt/${JCE_POLICY_ARTIFACT} && \
    cd /usr/lib/jvm && ln -s java-${JAVA_VERSION}-oracle java && \
    wget -q -O /usr/lib/jvm/java/jre/lib/ext/${BOUNCY_CASTLE_ARTIFACT} ${BOUNCY_CASTLE_DOWNLOAD_URL} && \
    sed -i -e "/^security.provider.9.\.*/asecurity.provider.10=org.bouncycastle.jce.provider.BouncyCastleProvider" /usr/lib/jvm/java/jre/lib/security/java.security
# ^ jce
