# v letsencrypt
RUN ${SYSTEM_UPDATE} && \
    ${PKG_INSTALL} -u python-pip python-dev libffi-dev libssl-dev && \
    pip install --upgrade pip && \
    pip install setuptools && \
    pip install certbot && \
    pip install certbot-external-auth && \
    ${SYSTEM_CLEANUP}
# ^ letsencrypt
