# v nodejs
# From https://github.com/nodejs/node-v0.x-archive/wiki/Installing-Node.js-via-package-manager#debian-and-ubuntu-based-linux-distributions
RUN curl --silent --location ${NODEJS_DOWNLOAD_URL} | bash - && \
    ${APTGET_INSTALL} -u nodejs build-essential libfontconfig1 && \
    AUX="${NODEJS_MODULES}" && if [ -n "${AUX}" ]; then \
      for p in ${NODEJS_MODULES}; do \
        npm install -g ${p}; \
      done; \
    fi && \
    ${APTGET_CLEANUP}
# ^ nodejs
