# v openjdk
ENV JAVA_HEAP_MIN="${JAVA_HEAP_MIN}" \
    JAVA_HEAP_MAX="${JAVA_HEAP_MAX}" \
    JAVA_OPTS="${JAVA_OPTS}"

RUN add-apt-repository -y ppa:openjdk-r/ppa \
 && ${SYSTEM_UPDATE} \
 && ${PKG_INSTALL} openjdk-${JAVA_VERSION}-jdk \
 && ${SYSTEM_CLEANUP} \
 && chmod +x /etc/service/.template/log/run \
 && chmod +x /etc/service/cron/log/run
# ^ openjdk
