# v pillar
COPY pillar-files/runme /usr/local/bin/runme
RUN chmod +x /usr/local/bin/runme \
 && cd /opt/ \
 && git clone https://github.com/pillar-markup/pillar \
 && cd pillar \
 && git checkout v8.0.14 \
 && chmod a+x ./scripts/build.sh \
 && ./scripts/build.sh

ENV PATH=${PATH}:/opt/pillar \
    PILLAR_IMAGE=/opt/pillar/Pharo.image \
    MUSTACHE_IMAGE=/opt/pillar/Pharo.image
# ^ pillar
