# v postman
RUN cd /opt && \
    wget -O ${POSTMAN_ARTIFACT} ${POSTMAN_DOWNLOAD_URL} && \
    tar xvfz ${POSTMAN_ARTIFACT} && \
    ln -s ${POSTMAN_FOLDER} postman && \
    rm -f ${POSTMAN_ARTIFACT} && \
    cd /opt/postman && ln -s Postman postman && \
    ${SYSTEM_UPDATE} && \
    ${PKG_INSTALL} libgtk2.0-0 libxtst6 libxss1 libgconf-2-4 libnss3 libasound2 && \
    ${SYSTEM_CLEANUP}
# ^ postman