# v rabbitmq-dump-queue
RUN ${SYSTEM_UPDATE} && \
    ${PKG_INSTALL} -y golang && \
    ${SYSTEM_CLEANUP} && \
    (mkdir /opt || echo -n) && \
    cd /opt && \
    wget ${RABBITMQ_DUMP_QUEUE_DOWNLOAD_URL} && \
    tar xvfz ${RABBITMQ_DUMP_QUEUE_ARTIFACT} && \
    rm -f ${RABBITMQ_DUMP_QUEUE_ARTIFACT} && \
    ln -s ${RABBITMQ_DUMP_QUEUE_FOLDER} rabbitmq-dump-queue

ENV PATH=${PATH}:/opt/rabbitmq-dump-queue
# ^ rabbitmq-dump-queue