# v robomongo
RUN cd /opt && \
    wget -O ${ROBOMONGO_ARTIFACT} ${ROBOMONGO_DOWNLOAD_URL} && \
    tar xvfz ${ROBOMONGO_ARTIFACT} && \
    ln -s ${ROBOMONGO_FOLDER} robomongo && \
    rm -f ${ROBOMONGO_ARTIFACT} && \
    ${SYSTEM_UPDATE} && \
    ${PKG_INSTALL} libgl1-mesa-glx xcb qt5-default && \
    ${SYSTEM_CLEANUP}
# ^ robomongo
