# v sdkman
RUN su - ${SERVICE_USER} -c 'cd ${SERVICE_USER_HOME} && (wget -q -O- http://get.sdkman.io | bash || (echo "sdkman zeroconf failed") && chmod +x ${SERVICE_USER_HOME}/.sdkman/bin/sdkman-init.sh || echo "chmod failed")'
# ^ sdkman
