# v service_user template
ENV SERVICE_USER=${SERVICE_USER} \
    SERVICE_GROUP=${SERVICE_GROUP} \
    SERVICE_USER_SHELL=${SERVICE_USER_SHELL} \
    SERVICE_USER_HOME=${SERVICE_USER_HOME}

RUN (/usr/sbin/groupadd ${SERVICE_GROUP} || echo -n "") && \
    (mkdir -p $(dirname ${SERVICE_USER_HOME}) || echo -n "") && \
    /usr/sbin/useradd -m -g ${SERVICE_GROUP} -G ${SERVICE_GROUP} -d ${SERVICE_USER_HOME} -s ${SERVICE_USER_SHELL} -c "${IMAGE} user" ${SERVICE_USER}
# ^ service_user template
