# v studio3t
RUN cd /opt \
 && wget -O ${STUDIO3T_ARTIFACT} ${STUDIO3T_DOWNLOAD_URL} \
 && tar xvfz ${STUDIO3T_ARTIFACT}
RUN cd /opt \
 && chmod +x ./studio-3t-linux-x64.sh \
 && ./studio-3t-linux-x64.sh \
 && ${SYSTEM_UPDATE} \
 && ${PKG_INSTALL} libgl1-mesa-glx xcb qt5-default \
 && ${SYSTEM_CLEANUP}
# ^ studio3t
