# ElasticSearch

This image runs ElasticSearch.

It requires some tuning in the host system to work, tough:

sudo sysctl -w vm.max_map_count=262144

# Example:

docker run -d --name ${IMAGE} -p 9200:9200 ${REGISTRY}/${NAMESPACE}/${IMAGE}:${TAG}
