This image runs "gradle run" on a host-supplied Pharo project.

For an isolated Gradle+Pharo project, you can run me with
docker run -it -v [my-gradle-project-folder]:/home/${NAMESPACE}/work --hostname [my-project-name] -p [host-port]:[app-port] ${NAMESPACE}/${IMAGE}:${TAG}

If the Gradle project belongs to a bigger project, you need to specify the project name explicitly
docker run -d -e PROJECT_NAME=[project-folder-name] -v [root-folder]:/home/${NAMESPACE}/work -p [host-port]:[app-port] ${NAMESPACE}/${IMAGE}:${TAG}
