This image runs Liquibase agains PostgreSQL databases.

Examples:
- Run Liquibase to manage the objects of a PostgreSQL database schema:
> docker run -it --link [postgres-container]:db -v [changelog-folder]:/changelogs ${NAMESPACE}/${IMAGE} liquibase --username=[dbuser] --password="[dbpassword]" --url="jdbc:postgresql://db:5432/[db]" [liquibase-args]
