This image runs MariaDB with minimal configuration,
after removing unneeded objects and applying some safe practices.

Examples:

- Run a MariaDB stand-alone instance:
> docker run -d --name db ${NAMESPACE}/${IMAGE}:${TAG}

- Run a MariaDB instance, to be used outside Docker containers:
> docker run -d -p [port]:3306 ${NAMESPACE}/${IMAGE}:${TAG}

- Run a MariaDB instance with specific configuration:
> docker run -d --name db -v [my-db-conf]:/etc/mysql/my.cnf ${NAMESPACE}/${IMAGE}:${TAG}