GRANT ALL PRIVILEGES ON *.* TO 'root'@'localhost' IDENTIFIED BY '${MARIADB_ROOT_PASSWORD}' WITH GRANT OPTION;
CREATE USER '${MARIADB_ADMIN_USER}'@'localhost' IDENTIFIED BY '${MARIADB_ADMIN_PASSWORD}';
GRANT ${MARIADB_ADMIN_PRIVILEGES} ON *.* TO '${MARIADB_ADMIN_USER}'@'localhost' IDENTIFIED BY '${MARIADB_ADMIN_PASSWORD}' WITH GRANT OPTION;
GRANT ${MARIADB_ADMIN_PRIVILEGES} ON *.* TO '${MARIADB_ADMIN_USER}'@'___LAN___' IDENTIFIED BY '${MARIADB_ADMIN_PASSWORD}' WITH GRANT OPTION;
GRANT ${MARIADB_ADMIN_PRIVILEGES} ON *.* TO '${MARIADB_ADMIN_USER}'@'%' IDENTIFIED BY '${MARIADB_ADMIN_PASSWORD}' WITH GRANT OPTION;
DELETE FROM mysql.user WHERE User='';
DELETE FROM mysql.user WHERE User='root' AND Host NOT IN ('localhost', '127.0.0.1', '::1');
DELETE FROM mysql.db WHERE Db='test' OR Db='test\\_%';
GRANT ALL PRIVILEGES on *.* TO 'debian-sys-maint'@'localhost' IDENTIFIED BY '___DEBIAN_SYS_MAINT_PASSWORD_HASH___' WITH GRANT OPTION;
FLUSH PRIVILEGES;