#!/bin/bash

# Splitting executable from arguments
_cmd="${1}";
if [ -n "${_cmd}" ]; then
  shift
  _cmd="${_cmd} ${@}";

  _folder="/work";

  _projectFolder="${_folder}"

  if [ -n "${PROJECT_NAME}" ]; then
      _projectFolder="${_folder}/${PROJECT_NAME}"
  fi

  mkdir -p "${_projectFolder}";

  /usr/local/bin/run-as.sh -- ${_projectFolder} ${_cmd};
else
  /sbin/my_init
fi
# vim: syntax=sh ts=4 sw=4 sts=4 sr noet
