GRANT ALL PRIVILEGES ON *.* TO 'root'@'localhost' IDENTIFIED BY '${MYSQL_ROOT_PASSWORD}' WITH GRANT OPTION;
CREATE USER '${MYSQL_ADMIN_USER}'@'localhost' IDENTIFIED BY '${MYSQL_ADMIN_PASSWORD}';
GRANT ${MYSQL_ADMIN_PRIVILEGES} ON *.* TO '${MYSQL_ADMIN_USER}'@'localhost' IDENTIFIED BY '${MYSQL_ADMIN_PASSWORD}' WITH GRANT OPTION;
GRANT ${MYSQL_ADMIN_PRIVILEGES} ON *.* TO '${MYSQL_ADMIN_USER}'@'___LAN___' IDENTIFIED BY '${MYSQL_ADMIN_PASSWORD}' WITH GRANT OPTION;
GRANT ${MYSQL_ADMIN_PRIVILEGES} ON *.* TO '${MYSQL_ADMIN_USER}'@'%' IDENTIFIED BY '${MYSQL_ADMIN_PASSWORD}' WITH GRANT OPTION;
DELETE FROM mysql.user WHERE User='';
DELETE FROM mysql.user WHERE User='root' AND Host NOT IN ('localhost', '127.0.0.1', '::1');
DELETE FROM mysql.db WHERE Db='test' OR Db='test\\_%';
GRANT ALL PRIVILEGES on *.* TO 'debian-sys-maint'@'localhost' IDENTIFIED BY '___DEBIAN_SYS_MAINT_PASSWORD_HASH___' WITH GRANT OPTION;
FLUSH PRIVILEGES;