Runs Android-Studio within a Docker image.

Examples:
- Run Android-Studio using a host volume to store project files.
> docker run -it -v [my-folder]:/data -e DISPLAY=$DISPLAY -v /tmp/.X11-unix:/tmp/.X11-unix ${NAMESPACE}/${IMAGE}:${TAG}

- Run Android-Studio using a host volume to store project files, testing with an Android device.
> docker run -it -v [my-folder]:/data -e DISPLAY=$DISPLAY -v /tmp/.X11-unix:/tmp/.X11-unix ${NAMESPACE}/${IMAGE}:${TAG} -d [deviceId]