#!/bin/bash

_exports="$(export)";

rsync -avz /drivers/ /opt/flyway/drivers/ > /dev/null
rsync -avz /sql/ /opt/flyway/sql/ > /dev/null

cat << EOF > /tmp/runme
#!/bin/bash

${_exports}
declare -x HOME="/home/${SERVICE_USER}"
cd /opt/flyway
./flyway ${@}
EOF
chmod +x /tmp/runme

echo "Running flyway ${@}"
chpst -u ${SERVICE_USER}:${SERVICE_GROUP} -U ${SERVICE_USER}:${SERVICE_GROUP} /tmp/runme
