This image is only meant to be used to isolate other images
from phusion-baseimage changes, and to provide a common
style when writing Dockerfiles.

If you're interested, you can run me with
docker run -it --link [loghost]:logger ${NAMESPACE}/${IMAGE}:${TAG} /bin/bash
