---
server:
  assets_path: /opt/padlock-cloud/src/github.com/maklesoft/padlock-cloud/assets
  port: 8443
  tls_cert: /etc/ssl/private/${PADLOCK_VIRTUALHOST}.cert.pem
  tls_key: /etc/ssl/private/${PADLOCK_VIRTUALHOST}.privkey.pem
  base_url: https://${PADLOCK_CLOUD_VIRTUALHOST}
  cors: false
email:
  server: localhost
  port: "25"
leveldb:
  path: /backup/${IMAGE}/db
log:
  log_file: /backup/${IMAGE}/log/${IMAGE}.log
  err_file: /backup/${IMAGE}/log/errors.log
  notify_errors: ${ERRORS_EMAIL}