#!/bin/bash

if [ -z "${PADLOCK_CLOUD_VIRTUALHOST}" ]; then
    export PADLOCK_CLOUD_VIRTUALHOST="${DEFAULT_PADLOCK_CLOUD_VIRTUALHOST}";
fi

/usr/local/bin/process-file.sh -o /etc/${IMAGE}/config.yaml /usr/local/src/${IMAGE}-config.tmpl

exec 2>&1
exec /usr/local/bin/run-as.sh -U padlock -G padlock /backup/padlock-cloud -- /opt/padlock-cloud/bin/padlock-cloud --config /etc/${IMAGE}/config.yaml runserver --cors
