= Robomongo

This image runs Robo3T

= Usage

> XSOCK=/tmp/.X11-unix
> XAUTH=/tmp/.docker.xauth
> xauth nlist :0 | sed -e 's/^..../ffff/' | xauth -f $XAUTH nmerge -
> xhost +
> docker run -it --rm -v $XSOCK:$XSOCK -v $XAUTH:$XAUTH -e XAUTHORITY=$XAUTH ${REGISTRY}/${NAMESPACE}/${IMAGE}:${TAG}
