This image runs Liquibase for MariaDB databases.

Examples:
> Run Liquibase to manage the objects of a MariaDB/MySQL database schema:
docker run -it --link loghost:logger --link [db-container]:db -v [changelog-folder]:/changelogs -e TERM="${TERM}" -e TERMCAP="${TERMCAP}" ${NAMESPACE}/${IMAGE} liquibase [liquibase-args]
