StartupPreferencesLoader default executeAtomicItems: {
  StartupAction
    name: 'Gitlab Settings'
    code: [
      FileStream stdout cr; nextPutAll: 'Setting the gitlab credentials'; cr.
      IceCredentialStore current
        storeCredential: (IcePlaintextCredentials new
          username: 'myGlUser';
          password: 'myGlPassword';
          host: 'gitlab.com';
          yourself).
      FileStream stdout cr; nextPutAll: 'Finished'; cr
    ]
}
