StartupPreferencesLoader default executeAtomicItems: {
  StartupAction
    name: 'Github Settings'
    code: [
      FileStream stdout cr; nextPutAll: 'Setting the github credentials'; cr.
      Iceberg enableMetacelloIntegration: true.
      IceCredentialStore current
        storeCredential: (IcePlaintextCredentials new
          username: 'myGhUser';
          password: 'myGhPassword';
          host: 'github.com';
          yourself).
      FileStream stdout cr; nextPutAll: 'Finished'; cr
    ]
}
